* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(214, 214, 214, 0.75);
    margin: 0;
    padding: 0;
}

/* Page Wrapper */
#page-wrapper {
    max-width: 100%;
    margin: 0 auto;
}

/* NavBar */
#header {
    background-color: transparent;
    color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    position: absolute;
}

    #header h1 a {
        color: #FFFFFF;
        text-decoration: none;
    }

    #nav ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }

        #nav ul li {
            margin-left: 20px;
        }

        #nav ul li a {
            color: #FFFFFF;
            text-decoration: none;
            transition: color 0.5s ease;
        }

            #nav ul li a:hover {
                color: #E44C65;
            }

        #order-now {
            background: #E44C65;
            border-radius: 5px;
            padding: 10px;
            transition: color 0.5s ease, background 0.5s ease !important;
        }

            #order-now:hover {
                background: #FF617B !important;
                color: #FFFFFF !important;
            }

/* Hero Section */
#hero {
    height: 100vh;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    color: white;
    text-align: center;
    z-index: 1;
}

    #hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }

    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .hero-content h2 {
            font-size: 48px;
            margin-bottom: 20px;
        }

        .hero-content p {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .hero-content a {
            background: #E44C65;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            transition: background 0.3s ease;
        }

            .hero-content a:hover {
                background: #FF617B;
            }

    /* Down Arrow */
    .down-arrow {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        color: #FFFFFF;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .down-arrow p {
            font-size: 18px;
            padding: 10px;
        }

        .down-arrow:hover {
            color: #E44C65;
        }

            .down-arrow ion-icon {
                font-size: 40px;
            }

/* Second Navbar (Sticky Navbar) */
#sticky-header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

    #sticky-header h1 a {
        color: #FFFFFF;
        text-decoration: none;
    }

        #sticky-nav ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
        }

            #sticky-nav ul li {
                margin-left: 20px;
            }

            #sticky-nav ul li a {
                color: #FFFFFF;
                text-decoration: none;
                transition: color 0.5s ease;
            }

                #sticky-nav ul li a:hover {
                    color: #E44C65;
                }

    #order-now-2 {
        background: #E44C65;
        border-radius: 10px;
        padding: 10px;
        transition: color 0.5s ease, background 0.5s ease !important;
    }

        #order-now-2:hover {
            background: #FF617B !important;
            color: #FFFFFF !important;
        }

.panel-wrapper {
    height: 100vh;
}

#first-panel, #second-panel {
    height: 50%;
    background: #2B343D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

    .first-left-content, .first-right-content {
        height: 100%;
    }

        .first-left-content img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }

    .first-right-content {
        padding: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .first-right-content h1 {
            color: #FFFFFF;
            text-transform: uppercase;
            font-size: 44px;
            padding-bottom: 20px;
        }

        .first-right-content p {
            color: #FFFFFF;
            font-size: 20px;
            line-height: 40px;
        }

#second-panel {
    background: #273038;
    box-shadow: 0 0px 10px rgba(0,0,0,0.6);
}

    .second-left-content, .second-right-content {
        height: 100%;
    }

        .second-right-content img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }

    .second-left-content {
        padding: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .second-left-content h1 {
            color: #FFFFFF;
            text-transform: uppercase;
            font-size: 44px;
            padding-bottom: 20px;
        }

        .second-left-content p {
            color: #FFFFFF;
            font-size: 20px;
            line-height: 40px;
        }

#summary {
    background: #1C1D26;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: start;
}

    #summary h1 {
        font-size: 40px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    #summary hr {
        height: 6px;
        background: #E44C65;
        border: none;
        margin: 25px auto;
        width: 20%;
    }

    #summary p {
        font-size: 20px;
        color: #FFFFFF;
        line-height: 40px;
        margin-bottom: 50px;
    }

    .summary-text {
        text-align: center;
        padding: 0 350px;
    }

        .summary-text span {
            font-size: 40px;
            margin: 0 40px;
            background-color: transparent;
            color: #FFFFFF;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(45deg);
            border-radius: 10px;
            border: 4px solid #E44C65;
        }

        .summary-text span {
            display: inline-flex;
        }

            .icon-wrapper {
                transform: rotate(-45deg);
                position: relative;
                height: 100%;
                width: 100%;
            }

                .icon-wrapper ion-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

#order-now-panel {
    height: 25%;
    background: #E44C65;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .order-left-content h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .order-left-content p{
        font-size: 20px;
    }

    .order-right-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .order-right-content a {
        text-decoration: none;
        font-size: 20px;
        color: #FFFFFF;
        padding: 10px 60px;
        margin: 10px 100px;
        border: 2px solid #FFFFFF;
        border-radius: 5px;
        transition: background 0.5s ease, color 0.5s ease;
    }

        .order-right-content a:hover {
            background: #FFFFFF;
            color: #E44C65;
        }

        #order-now-3 {
            background: #FFFFFF;
            color: #E44C65;
            transition: background 0.5s ease, color 0.5s ease;
        }

            #order-now-3:hover {
                background: #E44C65;
                color: #FFFFFF;
                transition: background 0.5s ease, color 0.5s ease;
            }

#footer {
    height: 37.5vh;
    background: #1F2429;
    color: #8F9193;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .footer-icon-wrapper {
        padding: 50px;
    }

        .footer-icon-wrapper a {
            font-size: 40px;
            text-decoration: none;
            color: #8F9193;
            margin: 0 20px;
            transition: color 0.5s ease;
        }

        .footer-icon-wrapper a:hover {
            color: #FFFFFF;
        }

    .footer-text-wrapper {
        font-size: 20px;
        text-align: center;
    }

        .footer-text-wrapper p:last-child {
            font-size: 12px;
            text-align: center;
        }

.cuoverlay{
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(0,0,0,0.8);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
            z-index: 10000;
        }
.cuoverlay:target{
            visibility: visible;
            opacity: 1;
        }
.cuoverlay-wrapper{
            margin: 70px auto;
            padding: 20px;
            background: #e7e7e7;
            border-radius: 5px;
            width: 30%;
            position: relative;
            transition:all 5s ease-in-out;
        }
.cuoverlay-wrapper h2{
            margin-top: 0;
            color: #333;
        }
.cuoverlay-wrapper .close{
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }
.cuoverlay-wrapper .cucontent{
            max-height: 30%;
            overflow: auto;
        }
/*form design */
.cucontainer{
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 20px 0;
}
form label{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #333;
}
input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    background-color: #E44C65;
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* Main Section */
main {
    padding: 0; /* Remove padding to eliminate extra space */
    margin-top: 10px;  /* Remove margin to eliminate any extra space */
    text-align: center;
  }
.product1 {
    width: 100%; /* Ensure it stretches the entire width */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .product-img {
    width: 100%; /* Adjusts the image width to fit within its container */
    max-width: 600px; /* Set a maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains the aspect ratio of the image */
    margin: 0 auto; /* Centers the image horizontally */
  }
  
  /* Product Cards */
  .products {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap; /* Ensure responsiveness if products exceed one row */
  }
  
  /* Product Card Styling */
  .product-card {
    text-align: center;
    width: 250px; /* Ensures uniform width */
    height: 350px; /* Fixed height for uniformity */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease; /* Add animation on hover */
    margin-bottom: 20px; /* Add space between rows */
  }
  
  .product-card:hover {
    transform: translateY(-10px); /* Slightly lift up the card on hover */
  }
  
  .product-card img {
    width: 100%;
    height: 200px; /* Consistent image height */
    object-fit: cover;
    border-radius: 10px;
  }
  
  .product-card h3 {
    margin-top: 15px;
    font-size: 20px;
  }
  
  .product-card p {
    font-size: 18px;
    color: #003366;
  }
  
  /* Remove the blue underline from the anchor tags */
  .product-card a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from parent */
  }
  
  /* Add to Cart Button Styling */
  .add-to-cart {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF617B;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    border: 2px solid #FF617B; /* Pink border around button */
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .add-to-cart:hover {
    background-color: #E44C65; /* Darker shade of pink on hover */
    border-color: #E44C65; /* Darker border color */
  }
  
  /* Featured Product Styles */
  .featured-products {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
  }
  
  .featured-product {
    text-align: center;
    width: 23%; /* Adjust width to fit in the row */
    margin: 0 1%; /* Space between cards */
  }
  
  .featured-product img {
    width: 100%; /* Ensure images take the full width of the container */
    height: 250px; /* Set a fixed height */
    object-fit: cover;
    border-radius: 10px;
  }
  
  .featured-product h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  /* Feature Section Text */
  .featured-product p {
    font-size: 16px;
    color: #333;
  }
  
  /* Full-Screen Image Section */
  .fullscreen-images {
    display: flex;
    flex-direction: column;
    margin-top: 0; /* Adjusted for no margin */
  }
  
  .fullscreen-image {
    position: relative;
    height: 100vh; /* Make the image fill the viewport height */
    width: 100vw; /* Make the image fill the viewport width */
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Prevent overflow outside the container */
  }
  
  .image-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 500px;
  }
  
  .image-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .image-text p {
    font-size: 20px;
  }
  
  /* Full-Screen Product Image for Product Page */
  .product-image-container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent overflow */
  }
  
  .product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image completely covers the container */
  }
  
  .product-details {
    padding: 20px;
    text-align: center;
  }
  
  .product-details h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .product-details p {
    font-size: 20px;
    color: #333;
  }
  
  .product-info {
    padding: 20px;
    text-align: center;
    max-width: 800px; /* Control the maximum width to prevent text from stretching too far */
    margin: 0 auto; /* Center the text block */
    word-wrap: break-word; /* Ensure long words break and don't overflow */
  }
  
  .product-info p {
    font-size: 18px;
    line-height: 1.6; /* Improve line spacing for readability */
  }
  
  /* New changes for product layout */
  .product-category {
    display: flex;
    justify-content: space-between; /* Space between phones and tablets */
    gap: 10px; /* Add gap between the sections */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    margin: 10px; /* Add margin to the container */
  }
  
  .product-category > div {
    flex: 1; /* Each category (Phones, Tablets) takes equal space */
    min-width: 300px; /* Prevent categories from becoming too narrow */
    box-sizing: border-box;
  }
  
  .product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .product-card {
    width: 100%; /* Ensure the product cards stretch to the full width of their container */
    max-width: 300px; /* Optional: restrict maximum width */
    margin-bottom: 20px; /* Add space between cards */
  }
  
  /* Responsiveness for smaller screens */
  @media screen and (max-width: 768px) {
    .product-category {
      flex-direction: column; /* Stack categories on top of each other */
      gap: 20px; /* Add more space between categories */
    }
  
    .product-card {
      width: 100%;
      max-width: 100%; /* Let the cards take the full width of the screen */
    }
  }
  
  .cart-item img {
    width: 100px;  /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the area without stretching */
    margin-right: 20px;
  }

.checkout-container{
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 20px 0;
    min-height: 100vh;
}
form label{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #333;
}

button[type=submit]{
    background-color: #E44C65;
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}